In [1]:
import pandas as pd

# Define encoded sample input
data = {
    'gender': [1, 0],
    'SeniorCitizen': [0, 0],
    'Partner': [1, 0],
    'Dependents': [0, 0],
    'tenure': [1, 34],
    'PhoneService': [0, 1],
    'MultipleLines': [2, 0],
    'InternetService': [0, 0],
    'OnlineSecurity': [0, 1],
    'OnlineBackup': [1, 0],
    'DeviceProtection': [0, 1],
    'TechSupport': [0, 0],
    'StreamingTV': [0, 0],
    'StreamingMovies': [0, 0],
    'Contract': [0, 1],
    'PaperlessBilling': [1, 0],
    'PaymentMethod': [2, 1],
    'MonthlyCharges': [29.85, 56.95],
    'TotalCharges': [29.85, 1889.5]
}

# Create and save DataFrame
df_encoded = pd.DataFrame(data)
df_encoded.to_csv("sample_input_encoded.csv", index=False)

print("✅ sample_input_encoded.csv has been recreated successfully.")

✅ sample_input_encoded.csv has been recreated successfully.

In [3]:
df_sample = pd.read_csv("sample_input_encoded.csv")
df_sample.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,1,0,1,0,1,0,2,0,0,1,0,0,0,0,0,1,2,29.85,29.85
1,0,0,0,0,34,1,0,0,1,0,1,0,0,0,1,0,1,56.95,1889.50